html {
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    overflow-y: hidden;
}
.homeBtn{
    background-color: var(--blue);
    border: none;
    padding: 0px;
    border-radius: 100%;
    height: 50px;
    margin: 16px;
    position: absolute;
    top: 0;
    left: 0;
}
.homeBtn:hover{
    padding: 2px;
}
:root {
    /* --blue: rgb(4,192,253); */
    --blue: #00609e;
    --bg: #f0f0f0;
    --white: rgb(249, 249, 249);
    --black: rgb(11, 11, 11);
    --grey: rgb(111, 111, 111);
}
::-webkit-scrollbar {
    width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}
footer{
    font-size: .9rem !important;
}
body{
    overflow-x: hidden;
}
.container{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}

#Loader{
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    z-index: 100 !important;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar-container {
    width: 100dvw;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    position: fixed;
    top: 0;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--blue);
    width: 0%; /* Initial width */
    animation: progress-bar-fill 3s ease-in-out forwards;
}

@keyframes progress-bar-fill {
    from { width: 0%; }
    to { width: 100%; }
}
#Loader img{
    height:300px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    background-color: var(--bg);
    font-size: 1.05rem;
    /* color: ; */
    height: 70px;
}
.mainnav{
    justify-content: space-around;
    position: fixed !important;
    width: 100dvw;
    top: 0px;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btn{
    padding: 10px;
    overflow: visible;
}
.dntbtn{
    background-color: var(--blue);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.01rem;
    transition: all .4s;
    border: 4px solid transparent;
}
.dntbtn:hover{
    cursor: pointer;
    border: 4px solid rgb(0, 158, 210);
    transform: scale(1.1);
    /* background-color: rgb(60, 206, 255); */
}
.nav2{
    gap: 16px;
}
.nav2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey);
    transition: all .5s;
    padding: 32px 8px;
    transition: all .25s;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

#navactive{
    border-bottom: 5px solid var(--blue);
    color: var(--black);
    font-weight: 500;
}
.nav2 a:hover{
    color: var(--black);
    border-bottom: 5px solid var(--blue);
    background-color: rgba(0, 159, 212, 0.2);
}
.logoImg{
    height: 70px;
    border-radius: 100%;
}

.logomark{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    font-weight: 600;
}

/* main{
    height: 80vh;
} */
/* .default{
    height: 100dvh;   
} */
.sttbtn{
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    text-decoration: none;
    color: white;

}
.sttbtn2{
    bottom: 70px !important;
    position: fixed;
    right: 10px;
    z-index: 100;
    text-decoration: none;
    color: white;
}
.swiper {
    width: 600px;
    height: 300px;
}
#about{
    padding-top: 70px;
    margin-top: -70px;
    transform: translateY(200px);
    transition: transform 0.5s ease-in-out;
}
#donation{
    padding-top: 70px;
    margin-top: -70px;
    padding: 20px;
    transform: translateY(200px);
    transition: transform 0.5s ease-in-out;
}
.donation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}
html,body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.swiper {
    margin-top: 90px;
    width: 100%;
    height: 90dvh;
}
.swiper2{
    width: 40% !important;
    margin-bottom: 50px !important;
    max-width: 100dvw;
    margin: 0;
    padding: 0;
    margin-top: 0;
}
.swiper-pagination2{
    margin-left: 50dvw;
}
.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.swiper-slide p {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(transparent,black);
    height: 58px;
    width: 100%;
    text-align: left;
    padding: 0px 24px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

/* .swiper-slide::after{
    content: 'Child Education';
    position: absolute;
    color: white;
    font-size: 2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent,black);
} */
.swiper-slide2{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide2 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px calc(100vw - 90%);
    text-align: justify;
}
.logoImg2{
    /* height: 300px; */
    width: 300px;
    margin-left: 100px;
    transition: all 1s;
    border-radius: 100%;
}
.logoImg2:hover{
    scale: 1.05;
}
.title{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    color: var(--black);
    font-size: 2rem;
}
.title1{
    color: var(--blue);
}
/* .title2{
    
} */

.qrcode{
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 10px;
    width: 300px;
    transition: all .5s;
    padding-bottom: 20px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.qrcode:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7);
}
/* .qrcode:hover  .qr {
    scale: 1.05;
} */
.qr{
    width: 300px;
    z-index: 2;
    transition: all .5s;
}
.aboveQrCode{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-evenly;
    width: 90dvw;
}
.fixhight{
    height: 400px !important;
}
/* GALLARY */
#Gallary{
    overflow-x: hidden;
    padding-top: 70px;
    margin-top: -70px;
    transform: translateY(100px);
    transition: transform 0.5s ease-in-out;
}
#testimonials{
    transform: translateY(100px);
    transition: transform 0.5s ease-in-out;
}
.iframe{
    border:2px solid var(--blue); width: 600px; height: 450px;
    border-radius: 8px ;
}

/* CONTACT US */

#contactUs img{
    height: 30px;
}
.cuCnt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px calc(100vw - 90%);
    /* margin-left: 50px; */
    justify-content: center;
}
.cuCnt p{
    font-size: 1.4rem;
}
.cuCnt2{
    position: fixed;
    top: 45vh;
    left: 0px;
    z-index: 20;
    display: flex;
    gap: 5px;
    flex-direction: column;
    /* background-color: white; */
}
.cuCnt2 img{
    height: 30px;
}
.toggleicon{
    display: none;
}

/* ACHIVEMENTS */
#achivements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    margin-top: -70px;
}
#OurWork{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    margin-top: -70px;
}
.swiper-slide3 {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 500px;
}

.swiper-slide3 img {
    display: block;
    width: 100%;
    height: 500px !important;
}
.swiper3 {
    width: 100%;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}
.swiper-pagination3{
    margin-left: 50dvw;
    margin-top: 10px;
}

/* MEMBERS */
#members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    transform: translateY(100px);
    transition: transform 0.5s ease-in-out;
}
.swiper4 {
    width: 240px;
    height: 320px;
    /* margin-left: -20px; */
    scale: 1.4 !important;
    margin: 70px 0;
}
  
.swiper-slide4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
/* background-color: white; */
/* border: 2px solid var(--blue); */
}
/* .swiper-slide4:hover  img{
    scale: 1.05;
} */
.swiper-slide4 img{
    transition: all .5s;
    object-fit: cover;
    height: 320px;
    width: 240px;
}
.swiper-slide4 b{
    text-align: center;
    width: 240px;
    font-weight: normal;
}
.swiper-slide4 span{
    display: block;
    width: 240px;
    font-weight: lighter;
    font-size: small;
}
.memname{
    background-color: rgba(0, 0, 0, 0.573);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
}


/* TESTIMONIALS */
.swiper5 {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    overflow: hidden;
  }
#largeimg{
    display: none;
}
.swiper-slide5 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: flex-start;
    align-items: center ;
    width: 300px !important;
    height: 250px !important;
    flex-direction: column;
    gap: 10px;
    /* padding:24px; */
    border-radius: 8px;
    /* border: 1px solid var(--blue); */
}


.swiper-slide5 img {
    display: block;
    object-fit: cover;
    height: 160px;
    width: 160px;
    border-radius: 16px;
    /* border: 1px solid black; */
}
.swiper-pagination5{
    margin-left: 50dvw;
    margin-top: 10px;
}
.test-1{
    font-weight: bold;
}
.test-2{
    font-weight: lighter;
    margin-top: 10px;
}
.abovecnt{
    display: flex;
    /* justify-content: space-around; */
}
#achivements {
    transform: translateY(100px);
    transition: transform 0.5s ease-in-out;
}
#close{
    display: none;
}
#dntbtn4{
    display: none;
}

/* ASOCIATED PARTNERS PARTNERS */
.swiper-slide6 {
    background: #fff;
    height: 150px !important;
    width: 200px !important;
    /* padding: 10px; */
    /* border: 1px solid var(--blue); */
}
.swiper-slide6 img{
    height: 150px;
    width: 200px;
    object-fit: contain !important;
}


@media only screen and (max-width: 1150px ){
    .nav2{
        /* display: none; */
        background-color: var(--bg);
        top: 0;
    }
    #dntbtn4{
        /* width: 80% !important; */
        display: flex;
        scale: 0.8 !important;
        margin-left: -20px;
    }
    #close{
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: transparent;
        color: black;
        padding: 5px 10px;
        border-radius: 100%;
        scale: 1.5;
    }
    #slidenav{
        display: none;
        padding-top: 50px;
        position: absolute;
        /* right: -100%; */
        z-index: 100;
        right: 0;
        top: 0;
        height: 100dvh;
        /* display: flex; */
        justify-content: start;
        width: 25%;
        gap: 0;
        flex-direction: column;
        overflow: hidden;
    }
    #slidenav a{
        background-color: var(--bg);
        width: 95%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin: 0;
        padding: 10px;
        margin-left: -20px;
    }
    #slidenav a:hover, #slidenav a:active{
        background-color: rgb(218, 218, 218);
    }
    #btn img{
        display: block !important;
    }
    .mainnav{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        width: 97dvw;

    }
    .toggleicon{
        display: unset;
    }
    .logoImg2{
        margin-left: 20px;
    }
    /* .aboutus{
        padding: 50px
    } */
    .qr{
        width: 250px;
        
    }
}
#btn img{
    margin-right: 20px;
    display: none;
}
@media only screen and (max-width: 900px) {
    .swiper2{
        width: 50% !important;
    }
    .swiper {
        margin-top: 70px;
        height: 60dvh;
    }
    #slidenav{
        width: 35%;
    }
}
@media only screen and (max-width: 800px) {
    #slidenav{
        width: 45%;
    }
    .fixhight{
    height: 280px !important;
    }
    .aboutus{
        flex-direction: column;
    }
    .logoImg2{
        margin-top: 50px;
        margin-left: 0;
    }
    .aboveQrCode{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .qr{
        width: 300px;
        
    }
    .iframe{
        width: 80dvw;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
    }
    .swiper2{
        width: 100% !important;
        margin-left: 0;
    }
    .swiper-pagination2{
        margin-left: 50dvw;
    }
    .cuCnt p{
        font-size: 1rem !important;
    }
}
@media only screen and (max-width: 500px) {
    #dntbtn{
        display: none;
    }
    #slidenav{
        width: 100%;
        top: 80px;
    }
    #close{
        display: none;
    }
    .swiper {
        height: 70dvw;
        margin-top: 70px;
    }
    .swiper4 {
        scale: 1 !important;
        margin: 0;
    }
    .cuCnt p{
        font-size: 1rem;
    }
    #contactUs img{
        height: 25px;
    }
    #Loader img{
        width:250px;
        height: auto;
    }
    .logoImg2{
        width: 250px;
        height: auto;
    }
}