html {
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
}
:root {
    /* --blue: rgb(4,192,253); */
    --blue: #00609e;
    --bg: #f0f0f0;
    --white: rgb(249, 249, 249);
    --black: rgb(11, 11, 11);
    --grey: rgb(111, 111, 111);
}
::-webkit-scrollbar {
    width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}

.container{
    padding: 0;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    background-color: var(--bg);
    font-size: 1.05rem;
    /* color: ; */
    height: 70px;
}
.mainnav{
    justify-content: space-around;
    position: fixed;
    width: 100dvw;
    top: 0px;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#btn{
    padding: 10px;
    overflow: visible;
}
.dntbtn{
    background-color: var(--blue);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.01rem;
    transition: all .4s;
    border: 4px solid transparent;
}
.dntbtn:hover{
    cursor: pointer;
    border: 4px solid rgb(0, 158, 210);
    transform: scale(1.1);
    /* background-color: rgb(60, 206, 255); */
}
.nav2{
    gap: 16px;
}
.nav2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey);
    transition: all .5s;
    padding: 32px 8px;
    transition: all .25s;
    border-bottom: 5px solid transparent;
}

#navactive{
    border-bottom: 5px solid var(--blue);
    color: var(--black);
    font-weight: 500;
}
.nav2 a:hover{
    color: var(--black);
    border-bottom: 5px solid var(--blue);
    background-color: rgba(0, 159, 212, 0.2);
}
.logoImg{
    height: 70px;
    border-radius: 100%;
}

.logomark{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    font-weight: 600;
}

/* main{
    height: 80vh;
} */
/* .default{
    height: 100dvh;   
} */
.swiper {
    width: 600px;
    height: 300px;
}
#about{
    padding-top: 70px;
    margin-top: -70px;
}
#donation{
    padding-top: 70px;
    margin-top: -70px;
    padding: 20px;
}
.donation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
html,body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.swiper {
    width: 100%;
    height: 100dvh;
}
.swiper2{
    width: 40% !important;
    margin-bottom: 50px !important;
    max-width: 100dvw;
    margin: 0;
    padding: 0;
    margin-left: 50dvw;
    margin-top: 0;
}
.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.swiper-slide p {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(transparent,black);
    height: 58px;
    width: 100%;
    text-align: left;
    padding: 0px 24px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

/* .swiper-slide::after{
    content: 'Child Education';
    position: absolute;
    color: white;
    font-size: 2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent,black);
} */
.swiper-slide2{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide2 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px calc(100vw - 90%);
    text-align: justify;
}
.logoImg2{
    /* height: 300px; */
    width: 300px;
    margin-left: 100px;
    transition: all 1s;
    border-radius: 100%;
}
.logoImg2:hover{
    scale: 1.05;
}
.title{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    color: var(--black);
    font-size: 2rem;
}
.title1{
    color: var(--blue);
}
.title2{
    
}

.qrcode{
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 10px;
    width: 300px;
    transition: all .5s;
    padding-bottom: 20px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.qrcode:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7);
}
.qrcode:hover  .qr {
    scale: 1.05;
}
.qr{
    width: 300px;
    z-index: 2;
    transition: all .5s;
}
.aboveQrCode{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-evenly;
    width: 90dvw;
}

/* GALLARY */



/* CONTACT US */
#contactUs img{
    height: 30px;
}
.cuCnt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    /* margin-left: 50px; */
    justify-content: center;
}
.cuCnt p{
    font-size: 1.4rem;
}